#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
html { 
    background: url(https://celcliptipsprod.s3-ap-northeast-1.amazonaws.com/tips_article_body/8da9/863300/34676564ee1df984c541fa8e22151208_small) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @font-face {
    font-family: myFont1;
    src: url(Minecraft.ttf);
  }
  h1 {
    font-family: myFont1;
  }
  @font-face {
    font-family: myFont2;
    src: url(ARCADECLASSIC.TTF);
  }
  h2 {
    font-family: myFont2;
    color:deeppink;
    font-size: 35px;
    -webkit-text-stroke: .3px black;
  }